.gradle
/local.properties
/.idea/
.DS_Store
/build
/framework/build
/Sample/build
/gradle.properties

.idea
gradlew.bat
/.idea/copyright
/.idea/vcs.xml
/.idea/.name
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
